td.MuiTableCell-root{font-size:medium;}
.table{
    width: 100%;
    min-height: 100%;
    margin-bottom: -50px;
    h6{
        font-size: large;
    }
    span{font-size:x-large;
    }
    th{
        span{font-size:small;}
    }
    td{
        font-size:medium;
    }
    tr{
        td{font-size:small;}
    }
    p{
        font-size: medium;
    }
    
}

