.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.background{
  background-image: url("../../assets/background.jpg");
  width:100%;
  
  background-size: cover;
}
label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  .legend{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


