@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-1: "Montserrat", sans-serif;
$color-1: #000000;
// $color-1: rgb(204, 201, 170);
.content {
  background-color: $color-1;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
 
  box-sizing: inherit;
}

img{ 
  max-width: 100%;
}
.root{
  height:100%;
}

 

